body{
  font-family: 'Noto Sans KR', sans-serif;
}
section{
  position: relative;
  margin-left: 250px;
  margin-bottom: 50px;
  margin-right: 250px;
  margin-top: 250px;
  font-size: 100px;
  font-weight: 100px;
}
footer{
  position: relative;
  padding-left: 250px;
}
p{
  position: relative;
  font-size: 50px;
}
a{
  color: black;

}
@media only screen and (max-width: 1200px) {
  body{
    margin-left: -200px;
    margin-top: -200px;
    font-size:150px;
  }
}
